<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Création d’un service Web en REST sur Node.js connectée à une base de données infonuagique">
    <title>API-Films</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/films">Accueil</a></li>
            <li><a href="#inscription">Inscription</a></li>
            <li><a href="#connexion">Connexion</a></li>
        </ul>
    </nav>
    <header><h1>API-Films</h1></header>
    <section id="connexion">
        <form action="/utilisateurs/connexion" method="POST">
            <h2>Se connecter</h2>
            <input name="username" type="email" placeholder="username/email" required>
            <input name="password" type="password" placeholder="password" required>
            <input type="submit" value="Se connecter">
            <input type="reset" value="recommencer">
        </form>
    </section>
    <section id="inscription">
        <form action="/utilisateurs/inscription" method="POST">
            <h2>S'inscrire</h2>
            <input name="username" type="email" placeholder="username/email" required>
            <input name="password" type="password" placeholder="password" required>
            <input type="submit" value="S'inscrire">
            <input type="reset" value="recommencer">
        </form>
    </section>
    <section>
        <form action="/films" method="POST">
            <h2>Ajouter un nouveau film</h2>
        </form>
    </section>
    <section>
        <h2>test la base de données</h2>
        {{#dishes}}
            {{name}} - 
        {{/dishes}}
        <h3>users</h3>
        {{#users}}
            {{username}} - 
        {{/users}}
    </section>
</body>
<script src="js/scripts.js"></script>
</html>